<nav class="shadow navbar navbar-dark" style="background-color:rgb(50, 50, 50)">
  <a class="navbar-brand" href="/">Landon Turner</a>
  <ul class="navbar-nav navbar-expand">
    <li class="nav-item px-3">
      <a class="nav-link" href="https://twitter.com/landorturn">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link px-3" href="https://github.com/landonturner">
        <i class="fab fa-github"></i>
      </a>
    </li>
  </ul>
</nav>
