$font-main: 'Roboto', sans-serif;
$font-heading: 'Source Code Pro', serif;

html, body {
  margin: 0;
  background-color: rgb(29, 29, 29);
  color: rgb(220, 220, 220);
  font-family: $font-main;
}

h1 {
  margin-top: 3rem;
}

h1, h2, h3 {
  font-family: $font-heading;
}

.navbar-brand {
  font-family: $font-heading;
}

.date {
  color: rgb(99, 99, 99);
}

#copyright {
  color: rgb(40, 40, 40);
}

img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

pre {
  color: rgb(150, 150, 150);
}
